.user-list {
  background: #fbfbfb;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

.user-list-item {
  padding: 5px 0;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  color: #333;
  &:not(:last-of-type) {
    border-bottom: 1px solid #d7d7d7;
  }
}

.user-label {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.user-search {
  width: 98%;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding: 8px;
}